<div class="container">
  <div class="d-flex justify-content-center flex-column mt-5">

    <h4 class="mb-3">List of Courses</h4>
    <input (keyup.enter)="addCourse()" placeholder="New Courses" type="text" class="mb-2 form-control"
      [(ngModel)]="myCourse.label">

    <button (click)="addCourse()" *ngIf="!editable" class="mb-3 btn btn-block btn-primary"><i class="fa fa-send"
        aria-hidden="true"></i>
      add</button>
    <button (click)="updateCourse()" *ngIf="editable" class="mb-3 btn btn-block btn-warning"><i class="fa fa-refresh"
        aria-hidden="true"></i>
      edit</button>

    <ul class="list-group border-0">
      <li class=" border-0 shadow mb-2 list-group-item" *ngFor="let course of courses; index as i">{{ course.label }}
        <div class="text-right">
          <button (click)="deleteCourse(i)" class="mr-1 btn btn-danger btn-sm"><i class="fa fa-trash"></i></button>
          <button (click)="editCourse(course)" class="btn btn-dark btn-sm"><i class="fa fa-pencil"></i></button>
        </div>
      </li>
    </ul>

  </div>
</div>
